<input type="checkbox" #cb (click)="click_checkbox(cb.checked)">テストモード
<div *ngIf="is_extra_mode">
    <h4>デバッグコンソールにいろいろ書き出しています</h4>
    <div>
        <a routerLink='/'>home</a>
        <a routerLink='test3'>test3</a>
        <a routerLink='test4'>test4</a>
        <a routerLink='test-embind'>test-embind</a>
        <a routerLink='zzz'>404</a>
    </div>
    
    <button (click)="click1()">1. wasmをロード（AppComponent）</button>
    <button (click)="click2()">2. wasm関数を実行（AppComponent）</button>
</div>

<router-outlet></router-outlet>
